email=codingrefined0@gmail.com
#always-auth=true
#_auth=YWRtaW46YWRtaW4=
registry.npmjs.org/:_auth=YWRtaW46YWRtaW4=
//http://localhost:8881/repository/nodejs-app/:_auth=YWRtaW46YWRtaW4=
allowRepublish=true
